.App {
  text-align: center;
  /* Center the container */
  margin-left: auto;
  margin-right: auto;
}

.desktop {
  width: 100%;
}

.tablet {
  width: 768px;
}

.mobile {
  width: 480px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.swiper-slide {
  z-index: 1001;
}

.mySwiper {
  padding-bottom: 50px !important;
}

.testimonislider_button-wrapper {
  position: absolute !important;
  transform: translate(50% , 50%);
  right: 50% !important;
  bottom: 5% !important;
  z-index: 10 !important;
  cursor: pointer !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 100px !important;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 2.5% !important;
  left: 0;
  width: 100%;
}

.swiper-button-disabled #button-prev {
  fill: #00000033;
}

.swiper-button-disabled #button-next {
  fill: #00000033;
}

.testimonislider_button-next, .testimonislider_button-prev {
  color: white !important;
  border-radius: 50% !important;
  padding: 15px !important;
  margin-right: 75px !important;
  margin-left: 75px;
}

.swiper-pagination-bullet-active {
  background: #000 !important;
  opacity: 1 !important;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 0px;
  left: 0;
  width: 100%;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
  background: gray;
  opacity: 0.2;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 12px;
}

.swiper-button-prev, .swiper-button-next {
  position: absolute;
  top: 90% !important;
  bottom: 0% !important;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  right: 0px;
  left: auto;
}

html,
body,
#root {
  height: 100%;
}
