.App {
  text-align: center;
  /* Center the container */
  margin-left: auto;
  margin-right: auto;
}

.desktop {
  width: 100%;
}

.tablet {
  width: 768px;
}

.mobile {
  width: 480px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}
