@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'Lato';
  src: local('Lato'), url(/public/assets/fonts/Guthen.ttf) format('ttf');
} */
@font-face {
  font-family: 'Guthen Bloots Basic';
  src: local('Manrope'), url(/public/assets/fonts/Guthen.ttf) format('ttf');
}
@font-face {
  font-family: 'Meta';
  src: local('Meta'), url(/public/assets/fonts/Meta.ttf) format('ttf');
}